version: "3"
services:
  pihole:
    container_name: pihole
    image: pihole/pihole:{{ pihole.version }}
    network_mode: "host"
    environment:
      TZ: 'Europe/Paris'
      DHCP_ACTIVE: "{{ pihole.dhcp.active }}"
      DHCP_START: {{ pihole.dhcp.start }}
      DHCP_END: {{ pihole.dhcp.end }}
      DHCP_ROUTER: {{ pihole.dhcp.router }}
      INTERFACE: {{ pihole.interface }}
      # WEBPASSWORD: 'set a secure password here or it will be random'
    volumes:
      - '{{ pihole.data_dir }}/etc:/etc/pihole'
      - '{{ pihole.data_dir }}/dnsmasq.d:/etc/dnsmasq.d'
    cap_add:
      - net_ADMIN
    restart: unless-stopped
