devices:
{% for cover in ha.covers %}
  {{ cover.name }}:
    id: {{ cover.id }}
    type: {{ cover.type }}
    apiKey: {{ cover.apiKey }}
    channel:
       id: {{ cover.channel.id }}
       source: {{ cover.channel.source }}
{% endfor %}

