server {

    listen      {{ item.http_port|default('80') }};
    listen      [::]:{{ item.http_port|default('80') }};

{% if item.https|default(true) %}
    listen      {{ item.https_port|default('443') }} ssl http2;
    listen      [::]:{{ item.https_port|default('443') }} ssl http2;
{% endif %}

    server_name {{ item.subdomain }};


{% if item.https_redirect|default(true) %}
    if ($server_port = "{{ item.http_port|default('80') }}") {
        return 301 https://$host$request_uri;
    }
{% endif %}

{% if item.https|default(true) %}
    ssl_certificate             /usr/syno/etc/certificate/system/default/fullchain.pem;
    ssl_certificate_key         /usr/syno/etc/certificate/system/default/privkey.pem;
    ssl_protocols               TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers                 ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA;
    add_header  Strict-Transport-Security max-age=15768000;
    ssl_prefer_server_ciphers   on;
{% endif %}

    index    index.html  index.htm  index.cgi  index.php  index.php5 ;
{% if item.custom_error_pages|default(true) %}
    error_page 400 401 402 403 404 405 406 407 408 500 501 502 503 504 505 @error_page;

    location @error_page {
        root /var/packages/WebStation/target/error_page;
        rewrite ^ /$status.html break;
    }
{% endif %}

    location ^~ /.well-known/acme-challenge {
        root /var/lib/letsencrypt;
        default_type text/plain;
    }

{% if item.locations is defined %}
{% for location in item.locations %}
    location {{ location.name }} {
{% if location.proxy_pass is defined %}
        # Forward real IP and host
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;

        proxy_pass {{ location.proxy_pass }};
{% endif %}{# location.proxy_pass #}
{% if location.return is defined %}
        return {{ location.return }};
{% endif %}
    }
{% endfor %}
{% endif %}{# item.locations #}
}
