---
permit_join: false
homeassistant: true
mqtt:
  base_topic: zigbee2mqtt
  server: mqtt://mqtt
  user: {{ zigbee2mqtt.mqtt_user }}
  password: {{ zigbee2mqtt.mqtt_password }}
serial:
  port: /dev/{{ zigbee2mqtt.device }}
frontend:
  port: {{ zigbee2mqtt.port }}
  auth_token: {{ zigbee2mqtt.auth_token }}
advanced:
  network_key: {{ zigbee2mqtt.network_key }}
  homeassistant_legacy_entity_attributes: false
  legacy_api: false
  legacy_availability_payload: false
device_options:
  legacy: false
devices: devices.yaml
