version: '3.8'
services:
    mqtt:
        container_name: mqtt
        image: eclipse-mosquitto:2.0
        restart: unless-stopped
        volumes:
            - {{ zigbee2mqtt.data_dir }}/mosquitto:/mosquitto
        ports:
            - 1883:1883
        command: 'mosquitto -c /mosquitto/config/mosquitto.conf'

    zigbee2mqtt:
        container_name: zigbee2mqtt
        restart: unless-stopped
        image: koenkk/zigbee2mqtt
        volumes:
            - {{ zigbee2mqtt.data_dir }}/app/data:/app/data
            - /run/udev:/run/udev:ro
{% if not zigbee2mqtt.traefik_enabled %}
        ports:
            - 8080:8080
{% endif %}
        environment:
            - TZ=Europe/Paris
        devices:
            - /dev/{{ zigbee2mqtt.device }}:/dev/{{ zigbee2mqtt.device }}
{% if zigbee2mqtt.traefik_enabled %}
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.zigbee2mqtt-router.rule=Host(`zigbee2mqtt.{{ traefik.domain }}`)"
            - "traefik.http.services.zigbee2mqtt-service.loadbalancer.server.port=8080"
{% endif %}
