version: '3.8'
services:
  traefik:
    image: traefik:{{ traefik.version }}
    command:
    - --api.dashboard=true
    - --providers.docker
    - --providers.docker.exposedbydefault=false
    ports:
      - "81:80"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      - traefik.enable=true
      - traefik.http.routers.dashboard.rule=Host(`traefik.{{ traefik.domain }}`)
      - traefik.http.routers.dashboard.service=api@internal
    networks:
    {% for network in traefik.networks %}
      - {{ network }}_default
    {% endfor %}

networks:
{% for network in traefik.networks %}
  {{ network }}_default:
    external: true
{% endfor %}
