version: "3"
services:
  wg-easy:
    container_name: wg-easy
    image: ghcr.io/wg-easy/wg-easy
    volumes:
      - {{ wireguard.data_dir }}:/etc/wireguard
    ports:
      - "{{ wireguard.port }}:{{ wireguard.port }}/udp"
{% if not wireguard.traefik_enabled %}
      - "51821:51821/tcp"
{% endif %}
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    environment:
      - LANG=en
      - WG_HOST={{ wireguard.host }}
      - WG_PORT={{ wireguard.port }}
      - WG_ALLOWED_IPS={{ wireguard.allowed_ips}}
      - PASSWORD_HASH={{ wireguard.password_hash}}
      - WG_DEFAULT_ADDRESS={{ wireguard.default_address }}
      - WG_DEFAULT_DNS={{ wireguard.default_dns }}
      - UI_TRAFFIC_STATS=true
      - UI_CHART_TYPE=3 # (0 Charts disabled, 1 # Line chart, 2 # Area chart, 3 # Bar chart)
{% if wireguard.traefik_enabled %}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.wireguard-router.rule=Host(`wireguard.{{ traefik.domain }}`)"
      - "traefik.http.services.wireguard-service.loadbalancer.server.port=51821"
{% endif %}