version: '3.8'
services:
  homeassistant:
    image: homeassistant/home-assistant:stable
    container_name: homeassistant
    network_mode: host
    environment:
      - TZ=Europe/Paris
    volumes:
      - {{ ha.data_dir }}/config:/config
      - /run/dbus:/run/dbus:ro
    restart: always
